body{
    margin: 0 auto;
}

/*Head*/

.full_wrapper{
    max-width: 1602px;
    height: 192px;
    margin: 0 auto;
}

button{
    color: white;
    background-color: #EF5050;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 10px;
    border-radius: 10%;
    border: #EF5050 solid 3px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
}

button:hover{
    background-color: white;
    cursor: pointer;
    color: #EF5050;
    border: #EF5050 solid 3px;
}


.head_wrapper{
    background-color: RGBA(34, 34, 34, 1);
}

.cyrcule{
    padding: 34px 0 0 0px;
    max-width: 63px;
    max-height: 63px;
}          

.tel{
    max-width: 40px;
    max-height:400px;
}

.head_info{
    min-width: 1183px;
    display: flex;
    justify-content: center;
    padding: 0 0 32px 0;
}

.head_name1{
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    
}

.head_name2{
 font-size: 12px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: #8d8d8d;
 font-weight: bold;
}

.head_name{
    padding: 33px 0 0 12px;
}

.for_head_name{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.for_head_info{
    font-size: 13px;
    color: #8d8d8d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 0 0 0;
}

p{
    margin: 0;
    padding: 0;
}

.head_info{
    display: flex;
}

.path1{
    color: #EF5050;
}

.path2{
    color: white;
}

.head_main_info{
    display: flex;
    justify-content: space-between;
    padding: 37px 0 0 120px;
    min-width: 653px;
}

a{
    text-decoration: none;
    color: white;
}

.relative{
    position: relative;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.head_social_border{
    border: solid white 1px;
    border-radius: 50%;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.5s ease;
    transition: border-color 0.1s ease;
}

.social_icont{
    width: 20px;
}

.head_social_size{
    width: 42px;
    height: 42px;
}

.head_social_border:hover{
    background-color: #EF5050;
    border-radius: 50%;
    border-color: #EF5050;
}

.head_social{
    min-width: 200px;
    display: flex;
    padding: 37px 0px 0 37px;
    justify-content: space-between;
}

.head_social1{
    min-width: 200px;
    display: flex;
    padding: 37px 0px 0 0px;
    justify-content: space-evenly;
}

.head_menu{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    min-width: 1183px;
}

.head_menu_point{
    background-color: RGBA(249, 91, 91, 1);
    padding: 30px;
    
}

.head_menu_point_start{
    background-color: RGBA(239, 80, 80, 1);
    padding: 30px 30px 30px 30px;
}

.head_menu_point_end{
    background-color: RGBA(249, 91, 91, 1);
    padding: 30px 30px 30px 30px;
}

.head_menu_point_tg{
    background-color: RGBA(249, 91, 91, 1);
    padding: 30px 40px 30px 30px;
    position: relative;
}

.head_menu_point_tg::before{
    content: '';
    padding: 0 0 0 26px;
    background-image: url(/photo/tg.png);
    background-repeat: no-repeat;
}

.head_menu_point_start:hover {
    background-color: RGBA(239, 80, 80, 1);
}
.head_menu_point:hover {
    background-color: RGBA(239, 80, 80, 1);
}
.head_menu_point_end:hover {
    background-color: RGBA(239, 80, 80, 1);
}
.head_menu_point_tg:hover {
    background-color: RGBA(239, 80, 80, 1);
}
.head_menu_point_tg:hover{
    background-color: RGBA(239, 80, 80, 1);
}

.head_phoneNumber{
    display: flex;
}

.head_phoneNumber_icon{
    padding: 3px 15px 0 0;
}

/*main photo*/

.main_photo{
    max-width: 1602px;
    height: 330px;
    background-image: url(/photo/bd/13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main_photo_text{
    font-size: 47px;
    color: white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.content_service{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    max-width: 800px;
    color: #8B8B8B;
}


.content_body{
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0px 60px 0px;
}

.content_button{
display: flex;
justify-content: center;
flex-direction: column;
font-size: 20px;
}

.content_button :hover{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    background-color: white;
border: #EF5050 3px solid;
color: #EF5050;
    }



.service_butt{
    display: inline-block;
    justify-content: center;
    margin-top:52px;
    padding: 15px 25px 15px 25px;
    border: solid #EF5050;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.service_butt:hover{
    color: white;
    background-color: #EF5050;
}


.end{
    height: 390px;
    background-color: #1D1D1D;
}

.head_img_name{
    display: flex;
    padding: 50px 0 0 0;
}

.head_img_name_subtext{
    color: #9e9d9d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 270px;
    line-height:22px;
    margin: 32px 0 0 0;
    font-size: 13px;
}

.end{
    display: flex;
    justify-content: center;
   max-width: 1600px;
}

.end_wrapp{
    width: 1200px;
    display: inline-flex;
    justify-content: space-between;
}

.head_wrapp{

}

.end_quick_link{
    width: 200px;
    margin: 75px 0 0 0;
}

.end_quick_link_name{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-bottom: 25px;
}

.end_quick_link_s{
    color: #9e9d9d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height:35px;
}

.end_gell_sub{
    margin: 72px 0 0px 0;
}

.end_gallery_name{
    font-size: 18px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.end_gallery{
    margin: 25px 0 0px 0;
}

.end_subcribe_name{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: 35px;
    margin-bottom: 5px;
}

.end_subcribe_sub{
    color: #9e9d9d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}

.end_subcribe_input{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9e9d9d;
    width: 250px;
    padding: 15px;
    
}

.end_subcribe_input_button{
    font-size: 18px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #EF5050;
    padding: 15px;
}

.end_subcribe_input_wrapp{
    display: flex;
    margin-top: 40px;
}

.end_subcribe_input_button:hover{
    background-color: white;
    color: #EF5050;
}


.for_user{
background-color: #222222;
//position: fixed;
}


.for_user_body{
    width: 100%;    
    min-width: 1505px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 0 0px;
}

.for_user_butts{
    min-width: 500px;
    display: flex;
    justify-content: space-around;
}


.button_res{
    padding: 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #EF5050;
    border: #EF5050 3px solid;
    border-radius: 7px;
}

.for_user_butt1{
    padding-left: 30px;
    min-width: 170px;
    display: flex;
    justify-content: end;
    justify-content: space-around;
}

.for_user_butt2{

    display: flex;
    justify-content: end;
    justify-content: space-around;
    padding-right: 10px;
}

.for_user_name{
    color: white; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    display: flex; 
    padding-top: 5px;
    padding-left: 10px;
    width: 50px;
}


.user_info{
    margin: 20px 25px 0 25px;
    display: flex;
    justify-content: start;
}

.for_user_butt2 :hover{
    background-color: #222222;
    border: white 3px solid;
}

.for_user_butt1 :hover{
    background-color: #222222;
    border: white 3px solid;
}

